Principal Software Engineer
RP1032084
San Jose

_____________________________________________________________________________________

At F5, we strive to bring a better digital world to life. Our teams empower organizations across the globe to create, secure, and run applications that enhance how we experience our evolving digital world. We are passionate about cybersecurity, from protecting consumers from fraud to enabling companies to focus on innovation. 
 
Everything we do centers around people. That means we obsess over how to make the lives of our customers, and their customers, better. And it means we prioritize a diverse F5 community where each individual can thrive.
About the position:
Are you ready to make a global impact? We’re looking for a talented Principal Software Engineer to be a key player in shaping the future of edge computing! In this role, you’ll drive the design, development, and implementation of F5’s cutting-edge Edge Computing platform, powering scalable, secure applications worldwide. Join us and help redefine what's possible in the world of cloud and edge technologies!
Responsibilities:
Lead the design and development of new networking features for the control plane software on F5 distributed cloud edge routing platform.
Understand requirements / use cases and proposed solutions, and develop them in a timely manner.
Unit test the software using automation framework.
Investigate and solve reported issues.
Follow software development lifecycle.
Suggest improvements to the software and take up such activities.
Assist with code reviews and mentoring junior members.
Professional Experience:
Bachelor’s and/or Master’s degree in Computer Science.
10+ years of software development experience. Development and problem-solving experience on distributed systems is a must.
Experience with controller software, routers / switches, SDN.
Good understanding of IP networking, routing protocols, IPsec VPNs, SSL, Firewalls, Nat, Proxies, HTTP/HTTPS proxies.
Experience with Kubernetes containers will be a plus.
Security infrastructure / product exposure will be a plus.
Experience with load balancer products such as Envoy, NGINX, and HA proxy is an plus.
Overall, in this role, it’s important to have a good software engineering background in the networking area, you’ve worked on distributed systems, and you have a good understanding of how to write functional and efficient code, handle errors, write quality tests, and handle concurrency.
#LI-RGB1
The Job Description is intended to be a general representation of the responsibilities and requirements of the job. However, the description may not be all-inclusive, and responsibilities and requirements are subject to change.
The annual base pay for this position is:  $199,952.00 - $299,928.00
F5 maintains broad salary ranges for its roles in order to account for variations in knowledge, skills, experience, geographic locations, and market conditions, as well as to reflect F5’s differing products, industries, and lines of business. The pay range referenced is as of the time of the job posting and is subject to change.
You may also be offered incentive compensation, bonus, restricted stock units, and benefits. More details about F5’s benefits can be found at the following link: https://www.f5.com/company/careers/benefits. F5 reserves the right to change or terminate any benefit plan without notice. 
Please note that F5 only contacts candidates through F5 email address (ending with @f5.com) or auto email notification from Workday (ending with f5.com or @myworkday.com).